





<head>
<title>Login</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon"
              type="image/png"
              href="{{ url_for('static', filename='favicon.ico')}}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script> <!--creates anonymous function that inserts script into DOM-->
</head>

<body>
	<nav class="navbar navbar-default">
            <div class="container">
                <div class="row divider green">
        <div class="col-md-12"> 
        	</div> </div> 
        	<h1>Login</h1> 
    	
		
		<p>Use your Google+ Account to Access ForgetMeNot</p>
		<div id="signinButton">
			<!--openid is a type of permission that gives us access to username and email-->
			<!--data-approvalprompt="force" forces the user to login every time. Useful for dev but annoying in production-->
			<span class="g-signin"
				data-scope="openid"
				data-clientid="206988020335-2lb8tf4dhob8geo2jctjbrne9n62s50k.apps.googleusercontent.com"
				data-redirecturi="postmessage"
				data-accesstype="offline"
				data-cookiepolicy="single_host_origin"
				data-callback="signInCallback"
				data-approvalprompt="force">
			</span>
		</div>
		

		<script>
		function signInCallback(authResult){
			if (authResult['code']) {
				// Hide the sign-in button now that the user has signed in
				$('#signinButton').attr('style', 'display: none');
				// Send the one-time-use code to the server. If the server
				// responds, write a 'login' successful message and redirect to the main page
				$.ajax({
					type: 'POST',
					url: '/login?state={{STATE}}',
					processData: false, 
					contentType: 'application/octet-stream; charset=utf-8',
					data: authResult['code'],
					success: function(result) {
						if (result) {
							$('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
						setTimeout(function() {
							window.location.href = "/";
						}, 4000);
						} else if (authResult['error']) {
							console.log('There was an error: '+authResult['error']);
						} else {
							$('#result').html('Failed to make server-side call.');
						}
					}
				});
			}
		}
		</script>
<div id="result"></div>
</div></nav>
</body>
</html>