{% extends "base.html" %}

{% block title %}Edit User Profile{% endblock %}
{% block header %}Edit User Profile{% endblock %}

{% from "common/_fields.html" import render_field %}
{% block content %}

  <form method="post" class="form-horizontal col-lg-5" action="{{ url_for('user.edit') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ render_field(form.name) }}
      {{ render_field(form.phone_number) }}
      {{ render_field(form.image_link) }}

      <button type="submit" class="btn btn-default">Confirm</button>
        <a href = "{{url_for('appointment.index')}}">
                        <button class="btn btn-default delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel </button>
                    </a>
    </div>
  </form>



<form action="{{ url_for('user.confirmdelete' )}}">
    <button type="submit" class="btn btn-danger btn-xs">Delete Account</button>
</form>


{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{{ url_for('static', filename='js/datetime-picker.js') }}"></script>
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
{% endblock %}
